body{
    
    margin: 2em;
}

.contenedor{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}


.campo_captura{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: double;
    padding: 3em;
}

.campo_de__texto{
    padding: 8em;
    border-style: none;
    box-shadow: 2px 2px 13px 3px #949492;
   
}

.botones{
display: flex;
flex-direction: row;
    text-align: center;
justify-content: space-around;
margin-top: 1em;
height: 1.8em;

}

.campo__resultado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: double;
    padding: 3em;
    align-items: center;
}
.card {
    background-color: white;
box-shadow: 1px 1px 13px 2px #434334;
padding: 1.5em;

}

.card2{
    display: none;
    text-align: center;
 
}


.resultado{
    background-color: transparent;
    padding: 8.5rem;
    text-align: center;
    box-shadow: 2px 2px 13px 3px #434333;
}

.boton_copiar{
    padding: .5em;
    margin-top: 1em;
    
    
}